{% load static %}
<!-- Pagination links -->
<div class="page_section">
    <div class="page-btn">

        {% if mobiles.has_previous %}
        <a href="?page=1"><span>first</span></a>
        <a href="?page={{ mobiles.previous_page_number }}"><span><<</span></a>
        {% endif %}

        {% for n in pro_pages %}
        <a href="?page={{ n.number }}"><span>{{ n.number }}</span></a>
        {% endfor %}

        {% if mobiles.has_next %}
        <a href="?page={{ mobiles.next_page_number }}"><span>>></span></a>
        <a href="?page={{ mobiles.paginator.num_pages }}"><span>last</span></a>
        {% endif %}

    </div>
</div>